<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="/" class="waves-effect">
                        <i class="fa-solid fa-home"></i>
                        <span key="t-dashboard">Dashboard</span>
                    </a>

                </li>
                <li>
                    <a href="/classification" class="waves-effect">
                        <i class="fa-solid fa-laptop-code"></i>
                        <span key="t-dashboard">Classification</span>
                    </a>

                </li>
                <li>
                    <a href="/clustering" class="waves-effect">
                        <i class="fa-solid fa-laptop-code"></i>
                        <span key="t-dashboard">Clustering</span>
                    </a>

                </li>

                
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->