{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Dashboard</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-3">
                                        <h5 class="text-primary">Welcome !</h5>
                                        <p>Dashboard</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="{{ url_for('static', filename='assets/images/profile-img.png') }}" alt=""
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <img src="{{ url_for('static', filename='assets/images/users/avv.jpg') }}"
                                            alt="" class="img-thumbnail rounded-circle">
                                    </div>
                                    <h5 class="font-size-15 text-truncate">Admin</h5>
                                    <p class="text-muted mb-0 text-truncate">Creator</p>
                                </div>

                                <div class="col-sm-8">
                                    <div class="pt-4">

                                        <div class="row">
                                            <div class="col-6">
                                                <h5 class="font-size-15">
                                                    {{ data.date }}
                                                </h5>
                                                <p class="text-muted mb-0">Today's Date</p>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="font-size-15">
                                                    {{ data.time }}
                                                </h5>
                                                <p class="text-muted mb-0">Time Today</p>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <a href="/" class="btn btn-primary waves-effect waves-light btn-sm">View
                                                Profile <i class="mdi mdi-arrow-right ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="col-xl-7">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mini-stats-wid">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <p class="text-muted fw-medium">Jumlah Buku</p>
                                            <h5 class="mb-0"></h5>
                                        </div>

                                        <div class="flex-shrink-0 align-self-center">
                                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                                <span class="avatar-title">
                                                    <i class="fa-regular fa-book font-size-24"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-5">Activity</h4>
                            <ul class="verti-timeline list-unstyled">
                                <li class="event-list active">
                                    <div class="event-timeline-dot">
                                        <i class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"></i>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <h5 class="font-size-14">27 Dec <i
                                                    class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                            </h5>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>
                                                Adding machine learning clustering program code (unsupervised)
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="bx bx-right-arrow-circle font-size-18"></i>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <h5 class="font-size-14">24 Dec <i
                                                    class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                            </h5>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>
                                                Change the website template
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="bx bx-right-arrow-circle font-size-18"></i>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <h5 class="font-size-14">23 Dec <i
                                                    class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                            </h5>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>
                                                Building a website using the flask framework
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="bx bx-right-arrow-circle font-size-18"></i>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <h5 class="font-size-14">22 Dec <i
                                                    class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                            </h5>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>
                                                Export the model with pickle and connect to the website
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="bx bx-right-arrow-circle font-size-18"></i>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <h5 class="font-size-14">21 Dec <i
                                                    class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                                            </h5>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>
                                                Fix machine learning classification program code (supervised)
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-center mt-4"><a href="javascript: void(0);"
                                    class="btn btn-primary waves-effect waves-light btn-sm">View More <i
                                        class="mdi mdi-arrow-right ms-1"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        {% endblock %}